<h2>Edit user</h2>

<%= render "form0.html", changeset: @changeset,
                        action: user_path(@conn, :update, @user) %>

<%= link "Back to your home", to: user_path(@conn, :show, @  user) %>
